<%# locals: (artist_url:) -%>
<div class="artist-link<%= " disabled" if artist_url.is_disabled? %>">
  <%= site_icon artist_url do %>
    <%= link_to artist_url.unescaped_url_identifier, artist_path(artist_url.artist, search: { artist_url_id: [artist_url.id] }), class: "artist-name" %>
    <% if artist_url.is_disabled? %>
      <%= link_to "[E]", enable_artist_url_path(artist_url), method: :put, title: "Enable" %>
    <% else %>
      <% if artist_url.scraper_enabled? %>
        <%= link_to "[U]", enqueue_artist_url_path(artist_url), method: :post, title: "Last scraped: #{last_scraped_at_text(artist_url)}" %>
      <% elsif artist_url.site_type == "femboyfans" %>
        <%= link_to "[U]", sync_e621_artist_path(artist_url.artist), method: :post, title: "Last scraped: #{last_scraped_at_text(artist_url)}" %>
      <% end %>
      <%= link_to "[D]", disable_artist_url_path(artist_url), method: :put, title: "Disable" %>
    <% end %>
    <% if artist_url.is_hidden? %>
      <%= link_to "[UH]", unhide_artist_url_path(artist_url), method: :put, title: "Unhide" %>
    <% else %>
      <%= link_to "[H]", hide_artist_url_path(artist_url), method: :put, title: "Hide" %>
    <% end %>
    <%= link_to "[-]", artist_url_path(artist_url), method: :delete, title: "Delete", data: { confirm: "Are you sure?" } %>
    <% if artist_url.id.in? job_stats.scraping_now %>
      [Scraping now!] <%= scraper_status(artist_url, prefix: "Status") %>
    <% end %>
    <% if job_stats.scraping_queued[artist_url.id] %>
      [Scraping queued] <%= scraper_status(artist_url, prefix: "Status") %>
    <% end %>
    <% if job_stats.submission_download_queued[artist_url.id] %>
      [<%= job_stats.submission_download_queued[artist_url.id] %> pending
        <%= artist_url.site_type == "tumblr" ? "reblogs" : "file downloads" %>]
    <% end %>
    <% if artist_url.site_type == "femboyfans" && job_stats.e621_sync_queued[artist_url.id] %>
      [<%= job_stats.e621_sync_queued[artist_url.id] %> pending post syncs]
    <% end %>
    <% if job_stats.e6_iqdb_queued[artist_url.id] %>
      [<%= job_stats.e6_iqdb_queued[artist_url.id] %> pending femboy fans iqdb calls]
    <% end %>
  <% end %>
</div>
