<%# locals: (submission_file:, similarity:) -%>
<% artist_submission = submission_file.artist_submission %>
<% artist_url = submission_file.artist_url %>
<div class="submission-stats">
  <% if similarity %>
    <div>
      Similarity: <%= similarity.round(2) %>
    </div>
  <% end %>
  <div class="submission-file-stats">
    <%= site_icon artist_url %>
    <%= "#{submission_file.width}x#{submission_file.height}" %>,
    <%= number_to_human_size submission_file.size %>,
    <%= Mime::Type.lookup(submission_file.content_type).symbol.to_s %>
  </div>
  <div class="submission-time-ago">
    <%= time_ago submission_file.created_at_on_site %>
    <%= link_to "UREV", update_e6_posts_submission_file_path(submission_file), title: "Update femboy fans post data", method: :post %>
    <% if submission_file.hidden_from_search_at %>
      <%= link_to "UH", modify_hidden_submission_file_path(submission_file, type: "remove"), title: "Add back into search", method: :put %>
    <% else %>
      <%= link_to "H", modify_hidden_submission_file_path(submission_file, type: "add"), title: "Remove from search", method: :put %>
    <% end %>
    <% backlogged = submission_file.added_to_backlog_at %>
    <%= link_to("-", modify_backlog_submission_file_path(submission_file, type: "remove"), title: "Remove from backlog", method: :put, class: "remove-from-backlog", style: ("display: none;" unless backlogged)) %>
    <%= link_to("+", modify_backlog_submission_file_path(submission_file, type: "add"), title: "Add to backlog", method: :put, class: "add-to-backlog", style: ("display: none;" if backlogged)) %>
  </div>
  <div class="submission-links">
    <%= link_to_external "SRC", submission_url(artist_submission), title: "Original Source" %>
    | <%= link_to_external "DLE", submission_file.direct_url, title: "Direct Link External" %>
    | <%= link_to "DLO", submission_file.url_for(:original, disposition: :inline), title: "Direct Link Onsite" %>
    | <%= link_to "REV", submission_file_path(submission_file), title: "Similar Indexed" %>
  </div>
  <% unless submission_file.upload_url(self).nil? %>
    <div class="upload-link">
      <%= link_to_external "Upload", submission_file.upload_url(self) %>
    </div>
  <% end %>
  <% submission_file.similar.each do |grp| %>
    <div classs="larger-links-<%= grp.first[:file].id %>">
      <% grp.each do |sim| %>
        <%= link_to submission_file.similar_text(sim, self), submission_file_path(sim[:file]) %>
      <% end %>
    </div>
  <% end %>
  <div class="e6-links">
    <%= render "submission_files/e6_post_stats", submission_file: submission_file %>
  </div>
</div>
